<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="index.html">Home</a>
    <a href="about.html">About Us </a>
    <a href="contact.html">contact us</a>
    <h1>About Us</h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem vitae
      recusandae officiis. Commodi, aspernatur? Accusantium ducimus doloribus
      minus odit ipsam unde optio nobis quaerat sunt aperiam est quae nostrum
      corporis soluta impedit reprehenderit ad reiciendis, porro aut tempora
      vero sequi.
    </p>
  </body>
</html>
